.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkturquoise;
}

.formBox {
  background-color: antiquewhite;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: green;
  text-align: center;
  margin-bottom: 16px;
}
.message {
  color: red;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 500;
}
.form{
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.inputField {
  padding: 10px 12px; 
  border: 1px solid #d1d5db; 
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.2s ease; 
}

.inputField:focus {
  border-color: #22c55e;
  outline: none; 
}
.submitBtn {
  padding: 10px; 
  background-color: #22c55e; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  font-weight: 500; 
  cursor: pointer; 
  transition: background-color 0.2s ease; 
}

.submitBtn:hover {
  background-color: #16a34a; 
}


